@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    height: 100vh;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

body > #root > div {
    height: 100vh;
}
  